{% extends "base.html" %}
{% load static %}

{% block content %}
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container col-4">
        <h1>Login de Usuario</h1>
        <form method="post" id="login-form">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" autocomplete="off" required>
                <div id="username-error" class="error-message"></div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <div id="password-error" class="error-message"></div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Login</button>
            </div>
            <div>
                {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Ups! Algo salió mal...</strong> {{errors}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}

{% block script %}
<script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
        // Obtener los valores de los campos
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        // Validar el campo de usuario (puede agregar más validaciones según sus necesidades)
        if (username.trim() === '') {
            document.getElementById('username-error').textContent = 'El campo de usuario es obligatorio';
            event.preventDefault(); // Evita que el formulario se envíe
        } else {
            document.getElementById('username-error').textContent = '';
        }

        // Validar el campo de contraseña (puede agregar más validaciones según sus necesidades)
        if (password.trim() === '') {
            document.getElementById('password-error').textContent = 'El campo de contraseña es obligatorio';
            event.preventDefault(); // Evita que el formulario se envíe
        } else {
            document.getElementById('password-error').textContent = '';
        }
    });
</script>
{% endblock %}