{% extends 'base-admin.html' %}


{% block style %}
{% endblock %}


{% block title %}
Inventario
{% endblock %}


{% block act-inventory %}
active
{% endblock %}


{% block main %}

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid px-2">
					<div class="row mb-2">
						<div>
							<h1 class="m-0">Inventario</h1>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-lg-10">
							<ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="{% url 'inventory' %}">Inventario</a></li>
                                <li class="breadcrumb-item active">Listado de categorias</li>
                                </ol>
						</div>
                        <div class="col-lg-2">
                            <a href="{% url 'add-category' %}" class="mb-2 btn btn-block btn-primary btn-sm"><i class="mx-3 fas fa-plus-circle"></i>Agregar categoria</a>
                        </div>
					</div>

				</div>
			</div>
			<!-- /.content-header -->
			
			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="card">
                                {% if messages %}
                                <div class="alert alert-success alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-check"></i> Mensaje!</h5>
                                    {% for message in messages %}
                                        <p class="mt-3">
                                            <ul>
                                                <li>{{ message|escape }}</li>
                                            </ul>
                                        </p>
                                    {% endfor %}
                                </div>
                                {% endif %}
								<div class="card-header bg-success">
									<h3 class="card-title">Listado de categorias</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body p-0">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Nombre</th>
												<th style="width: 50px;">Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for category in object_list %}
											<tr>
												<td>{{category}}</td>
                                                <td>
                                                    <div class="d-flex justify-content-between">
                                                        <a href="{% url 'upd-category' category.id %}" class="text-warning"><i class="fas fa-pen"></i></a>
                                                        <a href="{% url 'del-category' category.id %}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
						</div>
					</div>

				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.content-wrapper -->

{% endblock %}


{% block script %}
{% endblock %}
		
